@import "@fontsource/fira-mono"
@tailwind base
@tailwind components
@tailwind utilities

:root 
  font-family: monospace, "Noto Sans JP"
  color: white

h1
  font-size: 3rem

h2
  font-size: 2rem

a
  @apply text-sec-1
  text-decoration: none


a:hover
  text-decoration: underline

pre
  font-size: 16px
  font-family: "Fira Mono", monospace
  background-color: rgba(255, 255, 255, 0.45)
  border-radius: 3px
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%)
  padding: 0.5em
  overflow-x: auto
  color: var(--color-text)

@layer components
  .home-section
    border-top: 1px solid white
    padding: 4rem 0
    @apply bg-pri-6
    min-height: 100vh
    position: relative

  .home-section-title
    @apply text-5xl xs:text-6xl md:text-7xl mb-16 px-4 text-center

  .link
    @extend a
    cursor: pointer

  .external
    &:after
      padding-left: 0.25rem
      // content: url('https://api.iconify.design/ri/external-link-line.svg?color=%23edcf54')
      content: url('$lib/images/external-link-line.svg')

